<!-- Navigation -->
<!-- bg-[#393053] -->
<div class="h-screen">
  <div class="flex flex-col select-none p-4 gap-4 w-full z-10 max-w-[1400px] mx-auto border-b rounded-xl border-[#393053] top-0 sticky bg-[#18122B]">
    <div class="flex flex-col min-[620px]:flex-row gap-4 font-bold">
      <div class="flex items-center text-lg min-[620px]:text-2xl justify-around max-[420px]:w-full gap-4">
        <a routerLink="" class="group">
          <span class="bg-bottom bg-gradient-to-t group-hover:cursor-pointer from-white to-white bg-no-repeat bg-[length:0%_2px] group-hover:bg-[length:100%_2px] transition-all duration-200">JPSongs</span>
        </a>
        <div #menuButton (click)="mobileMenu ? mobileMenu = false : mobileMenu = true" class="min-[620px]:hidden hover:bg-[#eee]/20 rounded-full transition-all duration-200 cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-7">
            <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
          </svg>
        </div>
      </div>
      <!-- Searchbar -->
        <div class="overflow-hidden w-full flex items-center bg-[#eee]/20 rounded-xl px-1">
            <svg #searchIcon xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 transition-all duration-200">
              <path strokeLinecap="round" strokeLinejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
            <input placeholder="Search Songs/Artists" spellcheck="false" class="outline-none p-1 w-full bg-transparent placeholder:text-[#eee]/50">
        </div>  
        <div class="items-center text-lg min-[620px]:text-2xl justify-around max-[420px]:w-full gap-4 hidden group min-[620px]:flex">
          <a href="https://github.com/makima-desu" target="_blank" class="w-6 hover:opacity-70 transition-all duration-200 cursor-pointer">
            <img src="assets/discord.svg">
          </a>
          <a href="https://github.com/makima-desu" target="_blank" class="hover:opacity-70 transition-all duration-200 cursor-pointer">
            <svg viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" class="w-6"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
          </a>
          <a href="https://github.com/makima-desu" target="_blank" class="hover:opacity-70 transition-all duration-200 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
            </svg>
          </a>
        </div>
    </div>
    <div class="min-[620px]:flex w-full hidden justify-center gap-8 text-xl font-bold">
      <a routerLink="songs" class="group">
        <span routerLinkActive="bg-[length:100%_2px]" [routerLinkActiveOptions]="{exact: true}" class="bg-bottom bg-gradient-to-t group-hover:cursor-pointer from-white to-white bg-no-repeat bg-[length:0%_2px] group-hover:bg-[length:100%_2px] transition-all duration-300">
          Songs
        </span>
      </a>
      <a routerLink="collection" class="group">
        <span routerLinkActive="bg-[length:100%_2px]" [routerLinkActiveOptions]="{exact: true}" class="bg-bottom bg-gradient-to-t group-hover:cursor-pointer from-white to-white bg-no-repeat bg-[length:0%_2px] group-hover:bg-[length:100%_2px] transition-all duration-300">
          Collection
        </span>
      </a>
      <a routerLink="artists" class="group">
        <span routerLinkActive="bg-[length:100%_2px]" [routerLinkActiveOptions]="{exact: true}" class="bg-bottom bg-gradient-to-t group-hover:cursor-pointer from-white to-white bg-no-repeat bg-[length:0%_2px] group-hover:bg-[length:100%_2px] transition-all duration-300">
          Artists
        </span>
      </a>
    </div>
  </div>
  <app-mobile-menu #menu *ngIf="mobileMenu"></app-mobile-menu>
  <div class="w-full pt-4 lg:flex md:justify-center relative">
    <!-- Nav menu for bigger screen -->
    <router-outlet></router-outlet>
  </div>
</div>
