<div class="flex flex-col w-full min-[980px]:w-[40rem] items-center p-4 gap-4 ">
    <img [src]="['data:image/png;base64', artist.image]" class="w-full min-[450px]:w-60 rounded">
    <div class="tracking-wide text-center sm:items-start min-[400px]:text-left w-full rounded flex flex-col gap-2 p-4 bg-[#635985]/10 border-2 border-[#eee]/20">
        <span class="text-4xl">{{artist.title}}</span>
        <div class="grid min-[220px]:grid-cols-2 min-[400px]:grid-cols-3 min-[600px]:flex gap-2 text-base text-center">
            <a target="_blank" class="p-1 rounded border-2 transition-all duration-200 cursor-pointer border-[#eee]/20 hover:bg-[#eee]/20" href="{{artist.website}}" *ngIf="artist.website !== null">Website</a>
            <a target="_blank" class="p-1 rounded border-2 transition-all duration-200 cursor-pointer border-[#eee]/20 hover:bg-[#eee]/20" href="{{artist.channel}}" *ngIf="artist.channel !== null">Youtube</a>
            <a target="_blank" class="p-1 rounded border-2 transition-all duration-200 cursor-pointer border-[#eee]/20 hover:bg-[#eee]/20" href="{{artist.spotify}}" *ngIf="artist.spotify !== null">Spotify</a>
            <span class="p-1 rounded border-2 border-[#eee]/20">id: {{artist.id}}</span>
        </div>
        <div class="flex justify-between items-center w-full">
            <span (click)="Reload()" [ngClass]="{'bg-[#eee]/20': IsArtistInCollection(artist.id)}" (click)="SaveToCollection(artist.id)" class="flex z-10 gap-1 font-bold items-center justify-center rounded-md border-2 border-[#eee]/20 p-1 select-none cursor-pointer hover:bg-[#eee]/20 transition-all duration-200">
                <svg [ngClass]="{'fill-red-500 text-transparent': IsArtistInCollection(artist.id)}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 transition-all duration-200">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
                <span>{{artist.likes}}</span>
            </span>
            <span class="select-none pt-2 text-center">{{artist.added | dateAgo}}</span>
        </div>
    </div>
</div>
<!-- Songs by that artist -->